body {
  margin: 0;
}

.wrapper {
  font-family: Roboto, sans-serif;
  margin: auto;
  width: 80%;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}

.menu {
  padding: 0 13px;
}
.menu__item:last-child{
  padding-right: 0;
}
