body {
  margin: 0;
}

.wrapper {
  margin: 0 auto;
  width: 80%;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 40px 0 174px 0;
}

.logo__circle {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  opacity: .7;
}

.logo__circle_dark-blue {
  background: #0056EC;
}

.logo__circle_blue {
  background: #C8DBFB;
  left: 8px;
  top: 70%;
}

.logo {
  position: relative;
  padding-left: 44px;
  font: 24px/31px 'pt_serifbold', arial, helvetica, sans-serif;
}

.menu-burger {
  display: none;
}

.menu {
  padding-top: 7px;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__item {
  position: relative;
  margin-right: 23px;
  font: 600 18px/21px 'robotomedium', arial, helvetica, sans-serif;
  color: #000;
  text-decoration: none;
  transition: opacity .5s;
}

.menu__item:after {
  position: absolute;
  left: 0;
  display: block;
  content: '';
  width: 0;
  height: 3px;
  background: #0056EC;
  opacity: 0;
  transition: opacity .5s, width .5s;
}

.menu__item_active::after {
  position: absolute;
  display: block;
  content: '';
  left: 0;
  width: 100%;
  height: 3px;
  background: #0056EC;
}

.menu__item:hover {
  opacity: .5;
  width: 100%;
}

.menu__item:hover:after {
  position: absolute;
  left: 0;
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  background: #0056EC;
}

.menu__item:hover:after, .menu__item_active:after {
  opacity: 1;
}

.main {
  position: relative;
  padding: 70px 60% 0 0;
  background: top right no-repeat url(img.svg);
  background-size: 770px;
}

.main__title {
  position: relative;
  margin: 0 0 34px 1px;
  font: 66px/88px 'pt_serifbold', arial, helvetica, sans-serif;
}

.main__title::before {
  position: absolute;
  display: block;
  content: '';
  background: #ECF3FF;
  width: 497px;
  height: 69px;
  z-index: -1;
  bottom: 36%;
}

.main__title::after {
  position: absolute;
  display: block;
  content: '';
  background: #ECF3FF;
  width: 296px;
  height: 69px;
  z-index: -1;
  top: 72%;
}

.main__subtitle {
  max-width: 455px;
  margin: 0 0 40px 2px;
  font: 22px/26px 'robotoregular', arial, helvetica, sans-serif;
}

.main__button {
  display: inline-block;
  font: 18px/20px 'Roboto', arial, helvetica, sans-serif;
  color: #fff;
  background: #0056EC;
  padding: 18px 25px;
  margin: 0 0 269px 0;
  text-decoration: none;
  border-radius: 4px;
  transition: opacity .5s;
}

.main__button:hover {
  opacity: .5;
}

.pagination {
  position: relative;
  top: 0;
  left: 50%;
  right: 50%;
  display: block;
  justify-content: center;
  background: #ECF3FF;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 0 0 40px 0;
}

.pagination::before {
  position: absolute;
  left: 14px;
  display: block;
  content: '';
  width: 8px;
  height: 8px;
  background: #ECF3FF;
  border-radius: 50%;
}

.pagination::after {
  position: absolute;
  right: 14px;
  display: block;
  content: '';
  width: 8px;
  height: 8px;
  background: #ECF3FF;
  border-radius: 50%;
}

@media (max-width: 768px) {

  .menu {display: none;}

  .logo__text {display: none;}

  .pagination {display: none;}

  #burger {display: none;}

  .menu-box {display: none;}

  .wrapper {
    width: 87%;
    margin: 0 auto;
  }

  .header {
    margin: 28px auto;
  }

  .logo__circle {/*позиционировать кружочку относительно друг друга*/}

  .menu-burger {
    display: block;
    margin: 2px 0;
  }

  .menu-burger__item {
    margin: 3px 0;
    padding-bottom: 2px;
    width: 25px;
    height: 2px;
    background: #0056EC;
  }

  .main {
    text-align: center;
    padding: 0;
    background-size: 280px 239px;
    background-position: top center;
  }

  .main__title {
    position: relative;
    padding: 265px 0 0 0;
    font: 30px 'pt_serifbold', arial, helvetica, sans-serif;
  }

  .main__title::before {display: none;}

  .main__title::after {display: none;}

  .main__subtitle {
    width: 255px;
    margin: 0 0 25px 38px;
    font: 16px/18px 'robotomedium', arial, helvetica, sans-serif;
  }

  .main__button {
    font: 14px 'robotomedium', arial, helvetica, sans-serif;
    padding: 14px 16px;
    margin: 0 0 43px 0;
  }
}
