body {
  margin: 0;
}

.wrapper {
  margin: auto;
  width: 80%;
  max-height: 100em;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 40px 0 103px 0;
}

.logo__circle {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  opacity: .7;
}

.logo__circle_dark-blue {
  background: #0056EC;
}

.logo__circle_blue {
  background: #C8DBFB;
  left: 8px;
  top: 70%;
}

.logo {
  position: relative;
  padding-left: 44px;
  font: 24px/31px pt_serifbold, arial, helvetica, sans-serif;
}

.menu {
  padding-top: 9px; // меню было выше логотипа, подстраивалось под кружочки, а не уровень текста
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__item {
  position: relative;
  margin-right: 26px;
  font: 600 18px/21px Roboto, arial, helvetica, sans-serif;
  color: #000;
  text-decoration: none;
  transition: opacity .5s;
}

.menu__item:after {
    position: absolute;
    left: 0;
    display: block;
    content: '';
    width: 0;
    height: 3px;
    background: #0056EC;
    opacity: 0;
    transition: opacity .5s, width .5s;
}

.menu__item_active::after {
  position: absolute;
  display: block;
  content: '';
  left: 0;
  width: 100%;
  height: 3px;
  background: #0056EC;
}

.menu__item:hover {
  opacity: .5;
  width: 100%;
}

.menu__item:hover:after {
  position: absolute;
  left: 0;
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  background: #0056EC;
}

.menu__item:hover:after, .menu__item_active:after {
  opacity: 1;
}

.main {
  padding: 143px 63% 100% 0;
  background: top right no-repeat url(img.svg);
  background-size: 770px;
}

.main__title {
  position: relative;
  margin: 0 0 32px 0;
  font: 66px/87px pt_serifbold, arial, helvetica, sans-serif;
}

.main__title::before {
  position: absolute;
  display: block;
  content: '';
  background: #ECF3FF;
  width: 497px;
  height: 69px;
  z-index: -1;
  bottom: 36%;
}

.main__title::after {
  position: absolute;
  display: block;
  content: '';
  background: #ECF3FF;
  width: 296px;
  height: 69px;
  z-index: -1;
  top: 70%;
}

.main__subtitle {
  max-width: 455px;
  margin: 0 0 40px 0;
  font: 22px/28px Roboto, arial, helvetica, sans-serif;
}

.main__button {
  display: inline-block;
  font: 18px/20px Roboto, arial, helvetica, sans-serif;
  color: #fff;
  background: #0056EC;
  padding: 18px 25px;
  text-decoration: none;
  border-radius: 4px;
  transition: opacity .5s;
}

.main__button:hover {
  opacity: .5;
}
