body {
  margin: 0;
}

.wrapper {
  margin: 0 auto;
  width: 80%;
  padding-left: 7px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 40px 0 174px 0;
}

@keyframes text-shadow {
  to {
    text-shadow: 0 0 10px #95a7c7;
  }
}

.logo__circle {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  opacity: .7;
}

.logo__circle_dark-blue {
  background: #0056EC;
}

.logo__circle_blue {
  background: #C8DBFB;
  left: 8px;
  top: 70%;
}

.logo {
  position: relative;
  padding-left: 44px;
  font: 24px/31px 'pt_serifbold', arial, helvetica, sans-serif;
  animation: text-shadow 1s 2 ease-in-out;
}

.menu-burger {display: none;}

.menu-burger_button {
  transition: opacity .5s
}

.menu-burger_button:hover {
  opacity: .5;
}

.menu {
  padding-top: 7px;
}

.menu__item {
  position: relative;
  margin-right: 23px;
  font: 600 18px/21px 'robotomedium', arial, helvetica, sans-serif;
  color: #000;
  text-decoration: none;
  transition: opacity .5s;
}

.menu__item:last-child {
  margin-right: 11px;
}

.menu__item:after {
  position: absolute;
  left: 0;
  display: block;
  content: '';
  width: 0;
  height: 3px;
  background: #0056EC;
  opacity: 0;
  transition: opacity .5s, width .5s;
}

.menu__item_active::after {
  position: absolute;
  display: block;
  content: '';
  left: 0;
  width: 100%;
  height: 3px;
  background: #0056EC;
}

.menu__item:hover {
  opacity: .5;
  width: 100%;
  animation: text-shadow 1s 2 ease-in-out;
}

.menu__item:hover:after {
  position: absolute;
  left: 0;
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  background: #0056EC;
}

.menu__item:hover:after, .menu__item_active:after {
  opacity: 1;
}

.main {
  position: relative;
  padding: 70px 60% 0 0;
  background: top right no-repeat url(img.svg);
  background-size: 770px;
}

.main__title {
  position: relative;
  margin: 0 0 34px 1px;
  font: 66px/88px 'pt_serifbold', arial, helvetica, sans-serif;
}

.main__title::before {
  position: absolute;
  display: block;
  content: '';
  background: #ECF3FF;
  width: 497px;
  height: 69px;
  z-index: -1;
  bottom: 36%;
}

.main__title::after {
  position: absolute;
  display: block;
  content: '';
  background: #ECF3FF;
  width: 296px;
  height: 69px;
  z-index: -1;
  top: 72%;
}

.main__subtitle {
  margin: 0 180px 40px 2px;
  font: 22px/26px 'robotoregular', arial, helvetica, sans-serif;
}

.main__button {
  display: inline-block;
  font: 18px/20px 'robotomedium', arial, helvetica, sans-serif;
  color: #fff;
  background: #0056EC;
  padding: 18px 27px;
  margin: 0 0 269px 3px;
  text-decoration: none;
  border-radius: 4px;
  transition: opacity .5s, font-size 1s, padding 1s;
}

.main__button:hover {
  opacity: .5;
  font-size: 20px;
  padding: 20px 29px;
}

.pagination {
  position: relative;
  top: 0;
  left: 50%;
  right: 50%;
  display: block;
  justify-content: center;
  background: #ECF3FF;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 0 0 40px 0;
}

.pagination::before {
  position: absolute;
  left: 14px;
  display: block;
  content: '';
  width: 8px;
  height: 8px;
  background: #ECF3FF;
  border-radius: 50%;
}

.pagination::after {
  position: absolute;
  right: 14px;
  display: block;
  content: '';
  width: 8px;
  height: 8px;
  background: #ECF3FF;
  border-radius: 50%;
}

@media (min-width: 2300px) {
  .wrapper {
    width: 70%;
  }
}

@media (min-width: 1341px) and (max-width: 1600px) {
  .wrapper {
    width: 70%;
    padding-left: 28px;
  }

  .header {
    margin-bottom: 127px;
  }

  .menu {
    padding-top: 8px;

  }

  .menu__item {
    margin-right: 22px;
    font: 14px/21px 'robotomedium', arial, helvetica, sans-serif;
  }

  .menu__item:last-child {
    margin-right: 34px;
  }

  .main {
    background-size: 514px;
    padding-top: 0;
    margin-right: 28px;
  }

  .main__title {
    padding-top: 14px;
    font: 50px 'pt_serifbold', arial, helvetica, sans-serif;
    width: 443px;
  }

  .main__title::before {
    width: 380px;
    height: 53px;
  }

  .main__title::after {
    width: 226px;
    height: 53px;
  }

  .main__subtitle {
    font: 18px/22px 'robotomedium', arial, helvetica, sans-serif;
    margin: 0 0 43px 2px;
  }


  .main__button {
    font: 14px 'robotomedium', arial, helvetica, sans-serif;
    padding: 13px 21px;
    margin-left: 0px;
    margin-bottom: 146px;
  }

  .main__button:hover {
    font-size: 16px;
    padding: 15px 23px;
  }
}

@media (min-width: 1061px) and (max-width: 1340px) {
  .wrapper {
    width: 90%;
    padding-left: 28px;
  }

  .header {
    margin-bottom: 127px;
  }

  .menu {
    padding-top: 8px;

  }

  .menu__item {
    margin-right: 22px;
    font: 14px/21px 'robotomedium', arial, helvetica, sans-serif;
  }

  .menu__item:last-child {
    margin-right: 34px;
  }

  .main {
    background-size: 514px;
    padding-top: 0;
    margin-right: 28px;
  }

  .main__title {
    padding-top: 14px;
    font: 50px 'pt_serifbold', arial, helvetica, sans-serif;
    width: 443px;
  }

  .main__title::before {
    width: 380px;
    height: 53px;
  }

  .main__title::after {
    width: 226px;
    height: 53px;
  }

  .main__subtitle {
    font: 18px/22px 'robotomedium', arial, helvetica, sans-serif;
    margin: 0 0 43px 2px;
  }


  .main__button {
    font: 14px 'robotomedium', arial, helvetica, sans-serif;
    padding: 13px 21px;
    margin-left: 0px;
    margin-bottom: 146px;
  }

  .main__button:hover {
    font-size: 16px;
    padding: 15px 23px;
  }
}

/*1024*/
@media (min-width: 970px) and (max-width: 1060px) {
  .wrapper {
    width: 94%;
    padding-left: 28px;
  }

  .header {
    margin-bottom: 127px;
  }

  .menu {
    padding-top: 8px;

  }

  .menu__item {
    margin-right: 22px;
    font: 14px/21px 'robotomedium', arial, helvetica, sans-serif;
  }

  .menu__item:last-child {
    margin-right: 30px;
  }

  .main {
    background-size: 514px;
    padding-top: 0;
    margin-right: 28px;
  }

  .main__title {
    padding-top: 14px;
    font: 50px 'pt_serifbold', arial, helvetica, sans-serif;
    width: 443px;
  }

  .main__title::before {
    width: 380px;
    height: 53px;
  }

  .main__title::after {
    width: 226px;
    height: 53px;
  }

  .main__subtitle {
    font: 18px/22px 'robotomedium', arial, helvetica, sans-serif;
    margin: 0 0 43px 2px;
  }


  .main__button {
    font: 14px 'robotomedium', arial, helvetica, sans-serif;
    padding: 13px 21px;
    margin-left: 1px;
    margin-bottom: 146px;
  }

  .main__button:hover {
    font-size: 16px;
    padding: 15px 23px;
  }
}

/*iPad Pro*/
@media (width: 1024px) and (min-height: 1300px) {

  .logo__text {
    display: none;
  }

  .menu {
    display: none;
  }

  .pagination {
    display: none;
  }

  #checkbox {
    display: none;
  }

  .wrapper {
    width: 70%;
    margin: 0 auto;
  }

  .header {
    margin: 70px auto 40px auto;
  }

  .menu-burger {
    display: block;
    margin: 5px 0;
  }

  .menu-burger_button {
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 31px;
    width: 23px;
    height: 18px;
  }

  .menu-burger_button__item {
    margin-bottom: 3px;
    padding: 2px 13px;
    background: #0056EC;
    z-index: 2;
  }

  .menu-burger__box {
    display: flex;
    visibility: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: -40px;
    top: -50px;
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
    list-style: none;
    font: 30px 'robotomedium', arial, helvetica, sans-serif;
    background: #fff;
    z-index: 1;
  }
  .menu-burger__box_item {
    padding-bottom: 80px;
  }

  #checkbox:checked ~ .menu-burger__box {
    visibility: visible;
  }

  #checkbox:checked ~ .menu-burger_button > .menu-burger_button__item-1 {
    position: absolute;
    top: 80px;
    transform: rotate(45deg);
  }

  #checkbox:checked ~ .menu-burger_button > .menu-burger_button__item-2 {
    display: none;
  }

  #checkbox:checked ~ .menu-burger_button > .menu-burger_button__item-3 {
    position: absolute;
    top: 80px;
    transform: rotate(-45deg);
  }

  .main {
    text-align: center;
    padding: 0;
    background-size: 600px;
    background-position: top center;
  }

  .main__title {
    position: relative;
    padding: 525px 20% 0 20%;
    font: 50px 'pt_serifbold', arial, helvetica, sans-serif;
  }

  .main__title::before {
    position: absolute;
    left: 170px;
    top: 600px;
    display: block;
    content: '';
    background: #ECF3FF;
    width: 394px;
    height: 50px;
    z-index: -1;
    bottom: 36%;
  }

  .main__title::after {
    position: absolute;
    left: 227px;
    top: 670px;
    display: block;
    content: '';
    background: #ECF3FF;
    width: 250px;
    height: 50px;
    z-index: -1;
  }

  .main__subtitle {
    width: 300px;
    margin: 29px auto 38px auto;
    font: 20px/24px 'robotomedium', arial, helvetica, sans-serif;
  }

  .main__button {
    font: 20px 'robotomedium', arial, helvetica, sans-serif;
    padding: 16px 36px;
    margin: 0 0 43px 0;
  }
}

/*iPad*/
@media (width: 768px) and (height: 1024px) {

  .header {
    margin: 35px 0 40px 0;
  }

  .main__title {
    padding-left: 50px;
    padding-right: 50px;
  }

  .highlight {background: none;}

  .main__title::before {
    position: absolute;
    display: block;
    content: '';
    background: #ECF3FF;
    width: 396px;
    height: 50px;
    z-index: -1;
    bottom: 11%;
    left: 140px;
  }

  .main__title::after {
    position: absolute;
    display: block;
    content: '';
    background: #ECF3FF;
    width: 246px;
    height: 50px;
    z-index: -1;
    top: 92%;
    left: 200px;
  }
}

@media (min-width: 801px) and (max-width: 969px) {

  .header {
    margin-bottom: 100px;
  }

  .main {
    background-size: 400px;
    padding-top: 30px;
  }

  .main__title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 14px;
  }

  .main__title::before {
    position: absolute;
    display: block;
    content: '';
    background: #ECF3FF;
    width: 230px;
    height: 30px;
    z-index: -1;
    bottom: 36%;
  }

  .main__title::after {
    position: absolute;
    display: block;
    content: '';
    background: #ECF3FF;
    width: 142px;
    height: 30px;
    z-index: -1;
    top: 72%;
  }

  .main__subtitle {
    width: 250px;
    font-size: 18px;
    margin-bottom: 14px;
  }

  .main__button {
    font-size: 14px;
    padding: 10px 14px;
    margin-bottom: 90px;
  }

  .main__button:hover {
    font-size: 16px;
    padding: 12px 26px;
  }
}

/*Surface Duo*/
@media (min-width: 420px) and (max-width: 800px) {
  .logo__text {
    display: none;
  }
  .menu {
    display: none;
  }
  .pagination {
    display: none;
  }
  #checkbox {
    display: none;
  }

  .wrapper {
    width: 87%;
    margin: 0 auto;
  }

  .header {
    margin: 26px auto 26px auto;
  }

  .menu-burger {
    display: block;
    margin: 5px 0;
  }

  .menu-burger_button {
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 31px;
    width: 23px;
    height: 18px;
  }

  .menu-burger_button__item {
    margin-bottom: 3px;
    padding: 2px 13px;
    background: #0056EC;
    z-index: 2;
  }

  .menu-burger__box {
    display: flex;
    visibility: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: -40px;
    top: -2px;
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
    list-style: none;
    font: 30px 'robotomedium', arial, helvetica, sans-serif;
    background: #fff;
    z-index: 1;
  }

  .menu-burger__box_item {
    padding-bottom: 20px;
  }

  #checkbox:checked ~ .menu-burger__box {
    visibility: visible;
  }

  #checkbox:checked ~ .menu-burger_button > .menu-burger_button__item-1 {
    position: absolute;
    top: 40px;
    transform: rotate(45deg);
  }

  #checkbox:checked ~ .menu-burger_button > .menu-burger_button__item-2 {
    display: none;
  }

  #checkbox:checked ~ .menu-burger_button > .menu-burger_button__item-3 {
    position: absolute;
    top: 40px;
    transform: rotate(-45deg);
  }

  .main {
    text-align: center;
    padding: 0;
    background-size: 360px;
    background-position: top center;
  }

  .main__title {
    position: relative;
    padding: 320px 20% 0 20%;
    margin-bottom: 0;
    font: 30px 'pt_serifbold', arial, helvetica, sans-serif;
  }

  .main__title::before {display: none;}

  .main__title::after {display: none;}

  .highlight {
    background: #ECF3FF;
  }

  .main__subtitle {
    width: 305px;
    margin: 10px auto 16px auto;
    font-size: 16px;
  }

  .main__button {
    font: 16px 'robotomedium', arial, helvetica, sans-serif;
    padding: 12px 16px;
    margin: 0 0 43px 0;
  }

  .main__button:hover {
    font-size: 18px;
    padding: 15px 23px;
  }
}

/*iPhone 6/7/8 Plus / Pixel 2 / Pixel 2 XL*/
@media (min-width: 400px) and (max-width: 420px) {

  .logo__text {display: none;}
  .menu {display: none;}
  .pagination {display: none;}
  #checkbox {display: none;}

  .wrapper {
    width: 87%;
    margin: 0 auto;
  }

  .header {
    margin: 26px auto 26px auto;
  }

  .menu-burger {
    display: block;
    margin: 5px 0;
  }

  .menu-burger_button {
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 31px;
    width: 23px;
    height: 18px;
  }

  .menu-burger_button__item {
    margin-bottom: 3px;
    padding: 2px 13px;
    background: #0056EC;
    z-index: 2;
  }

  .menu-burger__box {
    display: flex;
    visibility: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: -40px;
    top: -2px;
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
    list-style: none;
    font: 30px 'robotomedium', arial, helvetica, sans-serif;
    background: #fff;
    z-index: 1;
  }

  .menu-burger__box_item {
    padding-bottom: 20px;
  }

  #checkbox:checked ~ .menu-burger__box {
    visibility: visible;
  }

  #checkbox:checked ~ .menu-burger_button > .menu-burger_button__item-1 {
    position: absolute;
    top: 40px;
    transform: rotate(45deg);
  }

  #checkbox:checked ~ .menu-burger_button > .menu-burger_button__item-2 {
    display: none;
  }

  #checkbox:checked ~ .menu-burger_button > .menu-burger_button__item-3 {
    position: absolute;
    top: 40px;
    transform: rotate(-45deg);
  }

  .main {
    text-align: center;
    padding: 0;
    background-size: 360px;
    background-position: top center;
  }

  .main__title {
    position: relative;
    padding: 320px 10% 0 10%;
    margin-bottom: 0;
    font: 30px 'pt_serifbold', arial, helvetica, sans-serif;
  }

  .main__title::before {display: none;}

  .main__title::after {display: none;}

  .highlight {
    background: #ECF3FF;
  }

  .main__subtitle {
    width: 275px;
    margin: 32px auto 25px auto;
    font-size: 16px;
  }

  .main__button {
    font: 16px 'robotomedium', arial, helvetica, sans-serif;
    padding: 12px 14px;
    margin: 0 0 43px 0;
  }

  .main__button:hover {
    display: none;
  }
}

/*iPhone X / iPhone 6/7/8 / Moto 4G / Galaxy S5*/
@media (min-width: 375px) and (max-width: 399px) {

  .logo__text {display: none;}
  .menu {display: none;}
  .pagination {display: none;}
  #checkbox {display: none;}

  .wrapper {
    width: 89%;
    margin: 0 auto;
  }

  .header {
    margin: 26px auto 33px auto;
  }

  .menu-burger {
    display: block;
    margin: 5px 8px;
  }

  .menu-burger_button {
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 31px;
    width: 23px;
    height: 18px;
  }

  .menu-burger_button__item {
    margin-bottom: 3px;
    padding: 2px 13px;
    background: #0056EC;
    z-index: 2;
  }

  .menu-burger__box {
    display: flex;
    visibility: hidden;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    left: -42px;
    top: -32px;
    width: 100%;
    height: 100%;
    list-style: none;
    text-align: center;
    font: 30px 'robotomedium', arial, helvetica, sans-serif;
    background: #fff;
    z-index: 1;
  }

  .menu-burger__box_item {
    flex-basis: 60px;
  }

  .menu-burger__box_item:last-child {
  }

  #checkbox:checked ~ .menu-burger__box {
    visibility: visible;
  }

  #checkbox:checked ~ .menu-burger_button > .menu-burger_button__item-1 {
    position: absolute;
    top: 38px;
    transform: rotate(45deg);
  }

  #checkbox:checked ~ .menu-burger_button > .menu-burger_button__item-2 {
    display: none;
  }

  #checkbox:checked ~ .menu-burger_button > .menu-burger_button__item-3 {
    position: absolute;
    top: 38px;
    transform: rotate(-45deg);
  }

  .main {
    text-align: center;
    padding: 0;
    background-size: 280px;
    background-position: top center;
  }

  .main__title {
    position: relative;
    padding: 260px 10% 0 10%;
    margin-bottom: 0;
    font: 30px 'pt_serifbold', arial, helvetica, sans-serif;
  }

  .main__title::before {display: none;}

  .main__title::after {display: none;}

  .highlight {
    background: #ECF3FF;
  }

  .main__subtitle {
    width: 275px;
    margin: 32px auto 25px auto;
    font-size: 16px;
    line-height: 20px;
  }

  .main__button {
    font: 14px 'robotomedium', arial, helvetica, sans-serif;
    padding: 12px 20px;
    margin: 0 4px 0 0;
  }

  .main__button:hover {
    display: none;
  }
}

/*iPhone 5/SE / Galaxy Fold*/
@media (max-width: 375px) {
  .logo__text {display: none;}
  .menu {display: none;}
  .pagination {display: none;}
  #checkbox {display: none;}

  .wrapper {
    width: 89%;
    margin: 0 auto;
  }

  .header {
    margin: 26px auto 33px auto;
  }

  .menu-burger {
    display: block;
    margin: 5px 8px;
  }

  .menu-burger_button {
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 31px;
    width: 23px;
    height: 18px;
  }

  .menu-burger_button__item {
    margin-bottom: 3px;
    padding: 2px 13px;
    background: #0056EC;
    z-index: 2;
  }

  .menu-burger__box {
    display: flex;
    visibility: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: -40px;
    top: -2px;
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
    list-style: none;
    font: 30px 'robotomedium', arial, helvetica, sans-serif;
    background: #fff;
    z-index: 1;
  }

  .menu-burger__box_item {
    padding-bottom: 20px;
  }

  #checkbox:checked ~ .menu-burger__box {
    visibility: visible;
  }

  #checkbox:checked ~ .menu-burger_button > .menu-burger_button__item-1 {
    position: absolute;
    top: 40px;
    transform: rotate(45deg);
  }

  #checkbox:checked ~ .menu-burger_button > .menu-burger_button__item-2 {
    display: none;
  }

  #checkbox:checked ~ .menu-burger_button > .menu-burger_button__item-3 {
    position: absolute;
    top: 40px;
    transform: rotate(-45deg);
  }

  .main {
    text-align: center;
    padding: 0;
    background-size: 280px;
    background-position: top center;
  }

  .main__title {
    position: relative;
    padding: 250px 20% 0 20%;
    margin-bottom: 0;
    font: 18px 'pt_serifbold', arial, helvetica, sans-serif;
  }

  .main__title::before {display: none;}

  .main__title::after {display: none;}

  .highlight {
    background: #ECF3FF;
  }

  .main__subtitle {
    width: 250px;
    margin: 32px auto 25px auto;
    font-size: 10px;
    line-height: 15px;
  }

  .main__button {
    font: 10px 'robotomedium', arial, helvetica, sans-serif;
    padding: 10px 16px;
    margin: 0 4px 0 0;
  }

  .main__button:hover {
    display: none;
  }
}
