body {
  margin: 0;
}

.wrapper {
  margin: 0 auto;
  width: 80%;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 40px 0 174px 0;
}

.logo__circle {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  opacity: .7;
}

.logo__circle_dark-blue {
  background: #0056EC;
}

.logo__circle_blue {
  background: #C8DBFB;
  left: 8px;
  top: 70%;
}

.logo {
  position: relative;
  padding-left: 44px;
  font: 24px/31px 'pt_serifbold', arial, helvetica, sans-serif;
}

.menu-burger {
  display: none;
}

.menu {
  padding-top: 7px;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__item {
  position: relative;
  margin-right: 23px;
  font: 600 18px/21px 'robotomedium', arial, helvetica, sans-serif;
  color: #000;
  text-decoration: none;
  transition: opacity .5s;
}

.menu__item:after {
  position: absolute;
  left: 0;
  display: block;
  content: '';
  width: 0;
  height: 3px;
  background: #0056EC;
  opacity: 0;
  transition: opacity .5s, width .5s;
}

.menu__item_active::after {
  position: absolute;
  display: block;
  content: '';
  left: 0;
  width: 100%;
  height: 3px;
  background: #0056EC;
}

.menu__item:hover {
  opacity: .5;
  width: 100%;
}

.menu__item:hover:after {
  position: absolute;
  left: 0;
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  background: #0056EC;
}

.menu__item:hover:after, .menu__item_active:after {
  opacity: 1;
}

.main {
  position: relative;
  padding: 70px 60% 0 0;
  background: top right no-repeat url(img.svg);
  background-size: 770px;
}

.main__title {
  position: relative;
  margin: 0 0 34px 1px;
  font: 66px/88px 'pt_serifbold', arial, helvetica, sans-serif;
}

.main__title::before {
  position: absolute;
  display: block;
  content: '';
  background: #ECF3FF;
  width: 497px;
  height: 69px;
  z-index: -1;
  bottom: 36%;
}

.main__title::after {
  position: absolute;
  display: block;
  content: '';
  background: #ECF3FF;
  width: 296px;
  height: 69px;
  z-index: -1;
  top: 72%;
}

.main__subtitle {
  max-width: 455px;
  margin: 0 0 40px 2px;
  font: 22px/26px 'robotoregular', arial, helvetica, sans-serif;
}

.main__button {
  display: inline-block;
  font: 18px/20px 'Roboto', arial, helvetica, sans-serif;
  color: #fff;
  background: #0056EC;
  padding: 18px 25px;
  margin: 0 0 269px 0;
  text-decoration: none;
  border-radius: 4px;
  transition: opacity .5s;
}

.main__button:hover {
  opacity: .5;
}

.pagination {
  position: relative;
  top: 0;
  left: 50%;
  right: 50%;
  display: block;
  justify-content: center;
  background: #ECF3FF;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 0 0 40px 0;
}

.pagination::before {
  position: absolute;
  left: 14px;
  display: block;
  content: '';
  width: 8px;
  height: 8px;
  background: #ECF3FF;
  border-radius: 50%;
}

.pagination::after {
  position: absolute;
  right: 14px;
  display: block;
  content: '';
  width: 8px;
  height: 8px;
  background: #ECF3FF;
  border-radius: 50%;
}

@media (max-width: 768px) {

  .logo__text {
    display: none;
  }

  .menu {
    display: none;
  }

  .pagination {
    display: none;
  }

  #checkbox {
    display: none;
  }

  .wrapper {
    width: 87%;
    margin: 0 auto;
  }

  .header {
    margin: 26px auto 30px auto;
  }

  .logo__circle_blue {
  }

  .menu-burger {
    display: block;
    margin: 5px 0;
  }

  .menu-burger_button {
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 31px;
    width: 23px;
    height: 18px;
  }

  .menu-burger_button__item {
    margin-bottom: 3px;
    padding: 2px 13px;
    background: #0056EC;
    z-index: 2;
  }

  .menu-burger__box {
    display: flex;
    visibility: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: -40px;
    top: -2px;
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
    list-style: none;
    font: 30px 'robotomedium', arial, helvetica, sans-serif;
    background: #fff;
    z-index: 1;
  }

  .menu-burger__box_item {
    padding-bottom: 20px;
  }

  #checkbox:checked ~ .menu-burger__box {
    visibility: visible;
  }

  #checkbox:checked ~ .menu-burger_button > .menu-burger_button__item-1 {
    position: absolute;
    top: 40px;
    transform: rotate(45deg);
  }

  #checkbox:checked ~ .menu-burger_button > .menu-burger_button__item-2 {
    display: none;
  }

  #checkbox:checked ~ .menu-burger_button > .menu-burger_button__item-3 {
    position: absolute;
    top: 40px;
    transform: rotate(-45deg);
  }

  .main {
    text-align: center;
    padding: 0;
    background-size: 280px 239px;
    background-position: top center;
  }

  .main__title {
    position: relative;
    padding: 265px 0 0 0;
    font: 30px 'pt_serifbold', arial, helvetica, sans-serif;
  }

  .main__title::before {
    position: absolute;
    left: 44px;
    top: 310px;
    display: block;
    content: '';
    background: #ECF3FF;
    width: 234px;
    height: 33px;
    z-index: -1;
    bottom: 36%;
  }

  .main__title::after {
    position: absolute;
    left: 87px;
    top: 350px;
    display: block;
    content: '';
    background: #ECF3FF;
    width: 139px;
    height: 30px;
    z-index: -1;
  }

  .main__subtitle {
    width: 255px;
    margin: 0 0 25px 38px;
    font: 16px/18px 'robotomedium', arial, helvetica, sans-serif;
  }

  .main__button {
    font: 14px 'robotomedium', arial, helvetica, sans-serif;
    padding: 14px 16px;
    margin: 0 0 43px 0;
  }
}
